<phpunit colors="true" bootstrap="vendor/autoload.php" stopOnError="true" stopOnFailure="true" stopOnSkipped="true" strict="true">
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src/</directory>
        </whitelist>
        <blacklist>
            <directory suffix=".php">./vendor</directory>
        </blacklist>
    </filter>

    <testsuite name="unit">
        <directory>./test/unit/</directory>
        <directory>./test/integration/</directory>
    </testsuite>

    <logging>
        <log type="coverage-html" target="documentation/test/html/" charset="UTF-8" />
        <log type="coverage-xml" target="documentation/test/xml/" charset="UTF-8" />
        <log type="testdox-text" target="documentation/test/testdox/testdox.txt" charset="UTF-8" />
    </logging>

    <php>
        <ini name="display_errors" value="On" />
        <ini name="display_startup_errors" value="On" />
    </php>
</phpunit>
