<phpunit colors="true" bootstrap="vendor/autoload.php" stopOnError="true" stopOnFailure="true" stopOnSkipped="true" strict="true">
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src/</directory>
        </whitelist>
        <blacklist>
            <directory suffix=".php">./vendor</directory>
        </blacklist>
    </filter>

    <testsuite name="mq_management">
        <directory>./test/unit/</directory>
    </testsuite>

    <logging>
        <log type="coverage-html" target="test/report/html/" charset="UTF-8" />
        <log type="coverage-xml" target="test/report/xml/" charset="UTF-8" />
    </logging>

    <php>
        <ini name="display_errors" value="On" />
        <ini name="display_startup_errors" value="On" />
    </php>
</phpunit>
